<div id="<%= dom_id ma_table %>">
  <p>
    <strong>Name:</strong>
    <%= ma_table.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= ma_table.age %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ma_table.description %>
  </p>

</div>
