<% content_for :title, "Editing ma table" %>

<h1>Editing ma table</h1>

<%= render "form", ma_table: @ma_table %>

<br>

<div>
  <%= link_to "Show this ma table", @ma_table %> |
  <%= link_to "Back to ma tables", ma_tables_path %>
</div>
