<p style="color: green"><%= notice %></p>

<% content_for :title, "Ma tables" %>

<h1>Ma tables</h1>

<div id="ma_tables">
  <% @ma_tables.each do |ma_table| %>
    <%= render ma_table %>
    <p>
      <%= link_to "Show this ma table", ma_table %>
    </p>
  <% end %>
</div>

<%= link_to "New ma table", new_ma_table_path %>
